#container {
    margin: auto;
    font-family: 'Barlow';
}

h3 {
    text-align: center;
}

.schedule {
    margin: auto;
    width: 80%;
    align-items: center;
}

.arrow {
    height: auto;
}

.kid {
    width: 50px;
}


.selector {
    background-color: #efdff5;
}


.grid {
    background-color: #efdff5;
    display: grid;
    width: 80%;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
    padding: 0.7rem;
    border-radius: 20px;
    align-items: center;
    margin: auto;
    font-weight: 300;
    margin-bottom: 1.5rem;
    font-weight: 550;
}

.activity {
    padding-left: 1rem;
    grid-column: 1;
    grid-row: 1 / span 2;
}

.start {
   justify-self: end;
   grid-column: 2;
   grid-row: 1;
}
.end {
    justify-self: end;
    grid-column: 2;
    grid-row: 2;

}

.info {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 1.7rem;
    font-weight: 600;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    
}

.modalGrid {
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 0.7rem;
    border-radius: 20px;
    align-items: center;
    margin: 10% auto;
    width: 80%;
    background-color: #efdff5;
    
}

.eventName {
    grid-row: 1;
    grid-column: 1;
    padding-bottom: 0.5rem;
}

.req {
    grid-row: 2;
    grid-column: 1;
    font-size: smaller;
    margin-left: 1rem;
}
.time {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    padding-bottom: 0.5rem;
}
.place {
    grid-row: 2;
    grid-column: 2;
    justify-self: end;
    font-size: smaller;
}

.delContainer {
    display: grid;
    grid-template-rows: auto auto;
}
.delButton {
    grid-row: 1;
    justify-self: end;
    font-size: large;
    margin: 10% auto;
}
select::-ms-expand {
    display: none;
  }
  select {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em 2em 0.5em 0.5em;
    border: 1px solid #eee;
    font: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 15px top 1em, right 10px top 1em;
    background-size: 5px 5px, 5px 5px;
  }
  button {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: 1px solid rgb(162, 155, 155);
    font: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    text-align: center;
    background-color: #efdff5;
  }
